<!DOCTYPE html>
<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= full_title(yield(:title)) %></title>
  <!-- CUSTOM CSS -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <!-- TOPBAR -->
  <%= render "shared/topbar" %>
  <!-- NAVBAR -->
  <%= render "shared/navbar" %>
  <%= yield %>
  <%= render "layouts/footer" %>
  <!-- LOGIN MODAL -->
  <%= render "shared/login_modal" %>
  <!-- SIGN UP MODAL -->
  <%= render "shared/signup_modal" %>
  <%= javascript_include_tag 'application' %>
</body>
